@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
p,
span,
a {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
}

a {
    text-decoration: none;
}

html {
    height: 100vh;
    background: rgba(36, 82, 97, 1);
    background-repeat: no-repeat;
    background-size: 2000px 2000px;
    background: -moz-linear-gradient(-45deg, rgba(36, 82, 97, 1) 0%, rgba(66, 120, 138, 1) 18%, rgba(74, 137, 158, 1) 38%, rgba(90, 143, 161, 1) 68%, rgba(30, 101, 125, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36, 82, 97, 1)), color-stop(18%, rgba(66, 120, 138, 1)), color-stop(38%, rgba(74, 137, 158, 1)), color-stop(68%, rgba(90, 143, 161, 1)), color-stop(100%, rgba(30, 101, 125, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(36, 82, 97, 1) 0%, rgba(66, 120, 138, 1) 18%, rgba(74, 137, 158, 1) 38%, rgba(90, 143, 161, 1) 68%, rgba(30, 101, 125, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(36, 82, 97, 1) 0%, rgba(66, 120, 138, 1) 18%, rgba(74, 137, 158, 1) 38%, rgba(90, 143, 161, 1) 68%, rgba(30, 101, 125, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(36, 82, 97, 1) 0%, rgba(66, 120, 138, 1) 18%, rgba(74, 137, 158, 1) 38%, rgba(90, 143, 161, 1) 68%, rgba(30, 101, 125, 1) 100%);
    background: linear-gradient(135deg, rgba(36, 82, 97, 1) 0%, rgba(66, 120, 138, 1) 18%, rgba(74, 137, 158, 1) 38%, rgba(90, 143, 161, 1) 68%, rgba(30, 101, 125, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#245261', endColorstr='#1e657d', GradientType=1);
}

.weatherApp {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 40px;
        padding: 30px 0;
        letter-spacing: 2px;
    }
    ul {
        list-style-type: none;
        width: 100%;
        max-width: 700px;
    }
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes mymove {
    from {
        left: -500px;
    }
    to {
        left: 500px;
    }
}


/* Standard syntax */

@keyframes mymove {
    from {
        left: -500px;
    }
    to {
        left: 500px;
    }
}

.clouds {
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
    .icon {
        margin: 0 30px;
        position: relative;
        -webkit-animation: mymove 50s infinite;
        /* Safari 4.0 - 8.0 */
        animation: mymove 50s infinite;
        path {
            fill: #c6e0e8 !important;
        }
        &:nth-child(1) {
            width: 100px;
            animation-timing-function: ease-in;
        }
        &:nth-child(2) {
            width: 300px;
            animation-timing-function: ease-out;
        }
        &:nth-child(3) {
            width: 180px;
            animation-timing-function: linear;
        }
    }
}